# TeamsFx files
env/.env.*.user
env/.env.local
.localConfigs
appPackage/build

# dependencies
node_modules/

# misc
.env
.deployment
.DS_Store

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb
*.pdb
*.cache
*.dbmdl
*.log
*.tlog
*.idb
*.ipch
*.aps
*.ncb
*.opendb
*.sdf
*.opensdf
*.v12.suo
*.psess
*.vsp
*.vspx
*.vspscc
*.vssscc
*.tmp
*.bak
*.Backup
*.swp
*.swo
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
TestResults/
out/
publish/
*.Publish.xml

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/
*.sln.iml